@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-sans: "Poppins", "sans-serif";
        background-color:#FFFBEB;
    }
    body {
        overflow-x: hidden;
    }
}

@layer components {
    .input-box {
        @apply w-full text-sm bg-transparent border-2 px-5 py-3 rounded mb-4 outline-none;
    }

    .btn-primary {
        @apply w-full text-sm p-2 my-1 text-center bg-sky-400 text-white rounded transform duration-500 hover:bg-sky-500;
    }

    .icon-btn {
        @apply text-xl text-slate-300 cursor-pointer hover:text-primary;
    }

    .input-label{
        @apply text-xs text-slate-400;
    }
}